<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                color:black;
            }
            div.gfg {
                margin:5px;
                padding:5px;
                background-color: white;
                width: 1500px;
                height: 700px;
                overflow: auto;
                text-align:justify;
                border: 2px solid grey;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>Terms and Conditions</h1>
        <div class="gfg">
            <h2>Data Protection Policy</h2>

<p>Last updated	1st November, 2022</p>

<h3>Definitions</h3>
<p>Organisation	FlexDrone Ltd, a company registered under number [company number, if applicable].</p>
<p>DPA	means the Data Protection Act 2018 which implements the UK's General Data Protection Regulation.</p>
<p>Responsible Person	means [insert name of person responsible for data protection within FlexDrone Ltd].</p>
<p>Register of Systems	means a register of all systems or contexts in which personal data is processed by FlexDrone Ltd.</p>

<h3>1. Data protection principles</h3>
<p>FlexDrone Ltd is committed to processing data in accordance with its responsibilities under the DPA. </p>
DPA requires that personal data shall be:</p>
<p>a.	processed lawfully, fairly and in a transparent manner in relation to individuals;</p>
<p>b.	collected for specified, explicit and legitimate purposes and not further processed in a manner that is incompatible with those purposes; further processing for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes shall not be considered to be incompatible with the initial purposes;</p>
<p>c.	adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed;</p>
<p>d.	accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay;</p>
<p>e.	kept in a form which permits identification of data subjects for no longer than is necessary for the purposes for which the personal data are processed; personal data may be stored for longer periods insofar as the personal data will be processed solely for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes subject to implementation of the appropriate technical and organisational measures required by the DPA in order to safeguard the rights and freedoms of individuals; and</p>
<p>f.	processed in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures.</p>

<h3>2. General provisions</h3>
<p>g.	This policy applies to all personal data processed by FlexDrone Ltd. </p>
<p>h.	The Responsible Person shall take responsibility for FlexDrone Ltd.'s ongoing compliance with this policy. </p>
<p>i.	This policy shall be reviewed at least annually. </p>
<p>j.	FlexDrone Ltd shall register with the Information Commissioner's Office as an organisation that processes personal data.</p> 
<p>3. Lawful, fair and transparent processing </p>
<p>k.	To ensure its processing of data is lawful, fair and transparent, FlexDrone Ltd shall maintain a Register of Systems. </p>
<p>l.	The Register of Systems shall be reviewed at least annually. </p>
<p>m.	Individuals have the right to access their personal data and any such requests made to FlexDrone Ltd shall be dealt with in a timely manner. </p>

<h3>4. Lawful purposes</h3>
<p>n.	All data processed by FlexDrone Ltd. must be done on one of the following lawful bases: consent, contract, legal obligation, vital interests, public task or legitimate interests. </p>
<p>o.	FlexDrone Ltd. shall note the appropriate lawful basis in the Register of Systems.</p>
<p>p.	Where consent is relied upon as a lawful basis for processing data, evidence of opt-in consent shall be kept with the personal data. </p>
<p>q.	Where communications are sent to individuals based on their consent, the option for the individual to revoke their consent should be clearly available and systems should be in place to ensure such revocation is reflected accurately in FlexDrone Ltd.'s systems.  </p>

<h3>5. Data minimisation</h3>
<p>r.	FlexDrone Ltd. shall ensure that personal data are adequate, relevant, and limited to what is necessary in relation to the purposes for which they are processed. </p>
<p>s.	This includes all identifiers needed to identify individuals such as names, location data, credit information, drone license numbers, online identifiers (IP addresses, cookie data), etc.</p>

<h3>6. Accuracy</h3>
<p>t.	FlexDrone Ltd. shall take reasonable steps to ensure personal data is accurate. </p>
<p>u.	Where necessary for the lawful basis on which data is processed, steps shall be put in place to ensure that personal data is kept up to date. </p>

<h3>7. Archiving / removal</h3>
<p>v.	To ensure that personal data is kept for no longer than necessary, FlexDrone Ltd shall put in place an archiving policy for each area in which personal data is processed and review this process annually. </p>
<p>w.	The archiving policy shall consider what data should/must be retained, for how long, and why. </p>

<h3>8. Security</h3>
<p>x.	FlexDrone Ltd. shall ensure that personal data is stored securely using modern software that is kept-up-to-date.  </p>
<p>y.	Access to personal data shall be limited to personnel who need access and appropriate security should be in place to avoid unauthorised sharing of information. </p>
<p>z.	When personal data is deleted, this should be done safely such that the data is irrecoverable. </p>
<p>aa.	Appropriate back-up and disaster recovery solutions shall be in place. </p>

<h3>9. Breach</h3>
In the event of a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to, personal data, FlexDrone. Ltd shall promptly assess the risk to people's rights and freedoms and if appropriate report this breach to the ICO. 

<h3>Types of T&Cs </h3>
<h3>A) Terms of Access  </h3>
You are provided with access to our website, including all information, tools and services available from our site in accordance with these Terms and Conditions. Please read these Terms and Conditions carefully. 

<h3>B) Changes to the Terms and Conditions and to our Website Content </h3>
 
We reserve the right to: 
<p>1.	update, change or replace any part of these Terms and Conditions by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes. </p>
<p>2.	modify or withdraw, temporarily or permanently, our website with or without notice to you and you confirm that we shall not be liable to you or any third party for any modification to or withdrawal of our website. </p>
<p>3.	refuse to continue to allow a person to use our website for any reason at any time. </p>

<h3>C) Use of Website </h3>
 
<p>4.	You may use our site only for lawful purposes and in a lawful manner. You will comply with any applicable local, national, or international law or regulations regarding the use of the site. </p>
<p>5.	You will not use our site to send any unsolicited material to any third party or to send any data or material that contains any type of virus. </p>
<p>&bull;	You agree that the material on our website is made available for your personal use, and that you will not copy or use any of the material or content on our site for your own purposes. </p>

<h3>D) Copyright </h3>
 
You acknowledge and agree that all copyright, trademarks and all other intellectual property rights in all material or content on the site belongs to us and will continue to belong to us. 

<h3>E) Accuracy of Information</h3>

<p>6.	We are not responsible if the information on our site is not accurate, complete or current, and we make no warranty that your use of our site will meet your requirements or will be uninterrupted, timely or error-free, that defects will be corrected, or that our website or the server that makes it available are free of viruses or bugs. We will not be responsible or liable to you for any loss of content or material uploaded or transmitted through our site. </p>
<p>7.	The material on our site, including photographs and descriptions, and any other literature provided by us is provided for general information only and is only intended to represent a general picture of our services. It should not be relied upon or used as the sole basis for making decisions and shall not form any part of any contract that is formed under these Terms and Conditions. Changes may take place before a Voucher is redeemed or before a Flight is undertaken. </p>
<p>&bull;	Our site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. </p>

<h3>F) Transfer and Updating of Information</h3>
 
<p>8.	The transfer of information to our site is subject to our Privacy Policy in Section D of these Terms and Conditions. </p>
<p>9.	You agree to provide current, complete, and accurate purchase and account information for all purchases made through our site. You agree to update your account and other information, including your email address and credit card numbers and expiration dates, promptly, so that we can complete your transactions and contact you as needed. </p>

<h3>G) Minimum Age</h3>

By using our site, you represent that you are at least 16 years old and that you have given us your consent to allow any of your minor dependents to use our site. 
 
<h3>H) Use of Information </h3>

<p>10.	When you purchase something from us, as part of the buying and selling process, we may collect personal information you give us such as your name, address and email address. </p>
<p>11.	When you browse our website, we also automatically receive your computer's internet protocol (IP) address to provide us with information that helps us learn about your browser and operating system. </p>
<p>With your permission, we may send you emails about our services. </p>
<p>12.	All personal data held by us will be processed in accordance with data protection legislation. </p>
<p>13.	In the event of an emergency, we may share information about you as well as your personal details with members of the emergency services or medical professionals. </p>

<h3>I) Consent</h3>
 
<p>14.	Obtaining consent </p>
<p>When you provide us with personal information to purchase a drone, we infer that you consent to our collecting it. </p>
<p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your express consent or provide you with an opportunity to say no.</p> 
<p>15.	Withdrawal of consent </p>
<p>You may at any time withdraw your consent for us to contact you or to continue to collect, use or disclose your information for marketing purposes by contacting us at admin@flexdrone.co.uk or writing to us at: Aerial Collective, Building 425, Duxford airfield, Duxford, Cambridgeshire, CB22 4QR, United Kingdom. </p>
<p>However, even if you withdraw your consent in this way, we may disclose your personal information if we are required by law to do so. </p>

<h3>J) Payments</h3>
If you choose to pay online for a drone, you will be directed to our payment gateway company's server. We use Pay Pal to process all transactions on our website. Your card details will be saved by Pay Pal if you opt into this service. We do not hold, save or process any card or payment details on our website or server. More details (including details of the Pay Pal privacy policy) can be found on the Pay Pal website https://www.paypal.com/uk. 

<h3>K) Security</h3>
<p>16.	To protect your personal information, we take reasonable precautions and follow industry best practice to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. </p>
<p>17.	If you provide us with your information, the information is encrypted using secure socket layer technology (SSL) and stored with AES-256 encryption. Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your information, we cannot guarantee the security of your data transmitted to our site. Any transmission is at your own risk. </p>

<h3>L) Cookies</h3>
<p>18.	We use cookies on our site to enable us to give our website visitors the best experience possible. </p>
19.	To find out which cookies are used, please refer to your web browser. You will also have the opportunity on your web browser to delete any cookies we may store and also turn off cookies for our site, although this will affect the functionality of some areas of the site. </p>

<h3>M) Privacy Policy</h3>
<p>20.	We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on our website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. </p>
<p>21.	If our company is acquired by or merged with another company, your information may be transferred to the new owners so that they may continue to sell products to you. </p>

<h3>N) Contact Information </h3>
If you would like to access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information, contact our staff at admin@FlexDrone.co.uk or by writing to FlexDrone, Building 425, Duxford airfield, Duxford, Cambridgeshire, CB22 4QR, United Kingdom. 
  







<h3>FlexDrone Warranty</h3>

FlexDrone is proud to offer our customers the ability to purchase a customised extended accident warranty plan with each new order. 
Warranty is offered all our drones, so you can have piece of mind when flying. The plan covers full parts and labour on all internal hardware failure, as well as accidental damage protection from crashes, water damage, impact damage, and more.
Here's how it works: If you crash your drone, you pay the appropriate deductible and send the drone to the designated facility. FlexDrone will attempt to fully repair and restore the drone back to it's original conditions. If it can't be repaired, your drone is replaced at current market value. It's that simple. 
 
 
<p>Warranty Duration:            						Your Cost</p>
<p>1 Year:                                               Free</p>
<p>2 Year:                                               &#163;159.99</p>
<p>3 Year:                                               &#163;199.99</p>
<p>4 Year:                                               &#163;219.99</p>
 
 
 
<h3>Coverage Details:</h3>
<p>&bull;Covers Impact Damage & Malfunctions</p>
<p>&bull;Covers Drone & Remote Control</p>
<p>&bull;Covers Liquid Damage</p>
<p>&bull;100% Comprehensive Parts & Labour Protection</p>
<p>&bull;Unlimited Claims</p>
<p>&bull;Fully Renewable, Fully Transferable</p>
<p>&bull;Full International Coverage Wherever You Are!</p>
<p>&bull;Contracts start on Date of Purchase</p>
<p>&bull;Only Accidental Coverage available</p>
<p>&bull;Deductibles apply - &#163;100.00-&#163;250.00</p>
<p>&bull;Lost/Stolen products are not covered</p>
<p>&bull;Does not cover detachable/optional camera</p>
<p>&bull;Only covers what originally comes with Drone - no aftermarket or add-on pieces covered</p>
<p>&bull;Must have all original parts/pieces when filing a claim. Missing items will not be replaced or covered</p>

<h3>Returns</h3>
<p>Sometimes things don't always go as planned, or circumstances change, and you must return an item you've bought. When shopping online, you have legal rights. Our return policy is offered in addition to your legal rights. You can return an item to us within 30 days of purchase. To be eligible for a return, your item must be unused and in the same condition you received it. The item must also be in the original packaging. Merchandise goods that have been used, such as t-shirts, are exempt from being returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases. Please contact us via email to process your return, and we will provide you with our UK address to send your items. There are certain situations where only partial refunds are granted. If applicable, a maximum of 70% partial refund or credit note can be given at our discretion for:</p>
<p>&bull;Drones with obvious signs of use.</p>
<p>&bull;Any item not in its original condition, damaged or missing parts for reasons, not due to our error.</p>
<p>&bull;Any item that is returned more than 30 days after purchase.</p>
<p>&bull;Any item that is reported faulty more than 30 days of delivery.</p>

<h3>Refunds (If Applicable)</h3>
Once your return is received and inspected, we will email you to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If approved, your refund will be processed, and a credit will automatically be applied to your original payment method within 5 - 10 working days. Late or missing refunds (if applicable) If you haven’t received a refund, first contact your bank and explain that you are expecting some funds. There is often some processing time before a refund is officially posted on your account. If you’ve done all this and still have not received your refund, please contact us via email.

<h3>Exchanges (If Applicable)</h3>
<p>We only replace items if they are defective or damaged. You have 24h after you received it to apply for an exchange if you're eligible. After that we can't be sure you didn't damage it yourself and an exchange won't be possible anymore. Please send us some picture that reflects the issue. If you need to exchange it for the same item, send us an email at contact@FlexDrone.co.uk and send your item. Email us for more information.
Before returning items to us, please read and follow the instructions below. Please make sure that you understand our return policy and ensure that all criteria are met before physically sending any items back to us.
We reserve the right to charge a handling fee on all returned products.
Shipping To return your product, you should mail your product to: (Email us with your order number for more information) To assure your refund please use a trackable mail service, we will not be responsible for lost or missing packages. (You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund. Please make sure you send the item back as a gift as we don't cover custom fees for returns)
Upon the receipt of your package your products will be examined, and a full refund will be issued to your original method of payment. A refund receipt will be emailed to the email address you used when making your original purchase. There are certain situations where only partial refunds are granted (if applicable):</p>
<p>&bull;Any item not in its original condition, is damaged or missing parts for reasons not due to our error</p>
<p>&bull;Any item that is returned more than 30 days after delivery</p>
<p>Several types of goods are exempt from being returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
Depending on where you live, the time it may take for your exchanged product to reach you, may vary.</p>
<h3>Gifts</h3>
If the item was marked as a gift when purchased and shipped directly to you, you will receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you. If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to give to you later, we will refund the gift giver, and they will find out about your return.
<h3>Faulty Items</h3>
Faulty items must be reported within 30 days of delivery and returned within 15 days from when they are reported to us. If you send an item back to us without appropriate shipping, any incurred charges by us as a result of the return will be deducted from your refund. You will be responsible for your shipping costs for returning your item. Shipping costs are non-refundable [unless there was a fault from our end]. Depending on where you live, the time it may take for your exchanged product to reach you may vary.
<h3>Invalid Reasons:</h3>
Buyer no longer wants the items - this is the most common example which we cannot honour if we want to continue offering great value at Flex Drone. The buyer should make sure he or she wants to buy the items before submitting an order, not after. After an order is submitted, the buyer enters into a legally binding contract with the seller to purchase all items in that order.
Buyer found items cheaper somewhere else - Buyer should be confident that he or she is ready to pay the asking prices before submitting an order. After an order is submitted, the buyer enters into a legally binding contract with the seller to purchase all items in that order


        </div>
        <button type="submit" value="submit" class="agreebtn"><a href="{{ url_for('user_signup') }}">Agree</a></button>
        </center>
    </body>
</html>              